<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinForms_DataViewer.Properties.Settings.data_viewerConnectionString"
            connectionString="server=ericgi231.me;user id=ericgi231;password=Wgi23E1g20;database=data_viewer"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>